label, input, textarea {
    display: block;
    width: 100%;
}

label{
    text-align: left;
    margin-top: 12px;
}
textarea{
    margin-top: 12px;
}
.btn-container{
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
}
.btn-container > *{
    width: 40%;
}

.launch-button{
    width: 40%;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--dxp-g-brand );
    color: var(--dxp-g-brand-contrast);
}